.small_action{
    width: 100px;
}

.big_action{
    width: 225px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    margin: 0 1em;
}

.vertical_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid;*/
}

.dougnut_input_div{
    margin-left: 2em;
}

.goal_container{
    display: flex;
    background: #A7C7FA;
    margin-top: 1em;
    padding: 1em;
    border: 1px  solid;
    border-radius: 10px;
}

.btn_div{
    margin-left: 1em;
    margin-top: 6em;
}

.input_div{
    font-size: 20px;
    padding: 10px 5px;
}

.blue_btn{
    background: #0160c9;
    color: #FFFFFF;
}

.blue_btn:hover{
}

.action_btn{
    padding: 0.5em;
    margin: 1em 0 3em 10px;
    border-radius: 12px;
}


#new_goal_btn{
    width:40%;
    margin: 0 auto 2em auto;
    padding: 1em;
}

