body{
    background: #D2E3FC;
    margin: 0;
    padding: 0;

}

h2{
    color: #90e0ef;
}

h3 {
    margin: 0 0 0 10px;
}

input{
    text-align: center;
    font-size: 18px;
    margin: 5px 5px 5px 5px;
    border: none;
    border-radius: 10px;
    background: #CAF0F8;
}

input:hover{
    background: #87cefa;
}

.delete_btn{
    background-color: #ec273f;
    color: #FFFFFF;
}

.horizontal_div {
    display: flex;
    flex-direction: row;
}

.goal_small_action{
    width: 100px;
}

.goal_big_action{
    width: 225px;
}

.goal_container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
}

.goal_container > div{
    flex: 0 0 45%;
}

.goal_div{
    background: #A7C7FA;
    margin: 10px 10px 10px 10px;
    border: 1px solid;
    border-radius: 10px;
}

.goal_doughnut_div{
    width: 300px;
    margin: 10px 0px 0px 60px;
}

.goal_btn_div{
    margin-left: 95px;
}

.goal_input_div{
    font-size: 20px;
    padding: 10px 5px;
    margin-left: 95px;
}

.goal_btn {
    margin: 15px 10px 10px 10px;
    border-radius: 10px;

}

.goal_action_btn {
    background: #0160c9;
    color: #FFFFFF;
}

