.container {
    background: #5390D9;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    gap: 25px;
    height: 50px;
}

.logo {
    margin-left: 100px;
}

.route {
    font-size: 24px;
    padding: 3px 10px;
    color: #04e3ff;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 400ms;
}

.route:hover{
    text-decoration-color: #04e3ff;
    cursor: pointer;
}

.right_side{
    margin-left: auto;
}

.profile_Pic{
    width: 4em;
    height: 4em;
}

.profile_Pic:hover{
    cursor: pointer;
}